/* 
 * DTABf to HTML-Stylesheet, 2014-07-18
 * Deutsches Textarchiv (DTA; http://www.deutschestextarchiv.de)
*/

/*
 * Overrides all stylesheet information contained in tei_oxygen.css for those tei-elements, 
 * which are part of the DTA base format (DTABf; http://www.deutschestextarchiv.de/doku/basisformat):
 */

@import "tei.css";
@import "links.css";
 
* {
}

TEI * {
    color:black;
    font-family:Georgia,"Linux Libertine",Code2000,serif;
    font-size:12pt;
}

note[place="left"]:before{
	color:silver;
	content:'Marg. links: ';
}
note[place="right"]:before{
	color:silver;
	content:'Marg. rechts: ';
}
note[place="foot"]:before{
	color:silver;
	content:"[Fußnote] " attr(n) " ";	
}
note[place="foot"] {
	display:block;
	text-indent:0em;
	padding: 5px;
	vertical-align: 4px;
	font-size : 60%;
}
note[place="end"] {
	color:silver;
	content:'Endnote: ';
}
note[type="editorial"]:before{
	color:silver;
	content:'edit. Kommentar: ';
}
fw[type="header"][place="top"] {
	font-size:0.9em;
    text-align:center;
    display:block;
    color:#666;
}
fw[type="catch"][place="bottom"] {
	font-size:0.9em;
    text-align:right;
    display:block;
    color:#666;
}
fw[type="sig"][place="bottom"] {
	font-size:0.9em;
    text-align:center;
    display:block;
    color:#666;
}
space[dim="horizontal"]{
	content:'        ';
}	
cell{
	text-align:left;
}
cell[rendition="#right"]{
	text-align:right;
}
cell[rendition="#c"]{
	text-align:center;
}

/*TODO: correct? (added from tei_oxygen)*/
cell[role='label'],
row[role='label']{
   color: inherit;
   background-color: #CCEEFF;
}

/*  rendition value visualisation	*/
*[rendition]{
	font-size:inherit;
	font-family:inherit;
}
*[rendition~="#aq"]{
	/*Antiqua*/
	font-family:"Arial Unicode MS", Arial;
}
*[rendition~="#b"] {
	/*Fettdruck*/
	font-weight:bold;
}
*[rendition~="#c"]{
	/*zentrierter Text*/
	display:block; 
	text-align:center;
}
*[rendition~="#blue"]{
	/*blaue Einfaerbung*/
	color:blue;
}
*[rendition~="#blue"] *{
	/*blaue Einfaerbung fuer Unterlemente*/
	color:blue;
}
*[rendition~="#et"]{
	/*eingerueckter Text*/
	display:block; 
	margin-left:2em; 
	text-indent:2em;
}
*[rendition~="#fr"]{
	/*Frakturwechsel*/
	font-weight:100;
	font-size:larger;
}
*[rendition~="#g"]{
	/*Sperrdruck*/
	/* border:1px dashed black;
	*/
	letter-spacing: 0.3em;
}
*[rendition~="#i"]{
	/*Kursivdruck*/
	font-style:italic;
}
*[rendition~="#in"]{
	/*Initiale*/
	font-size:150%;
}
*[rendition~="#k"]{
	/*Kapitaelchen*/
	/*border:1px solid black;*/
	font-variant:small-caps;
}
*[rendition~="#red"]{
	/*rote Einfaerbung*/
	color:#F60535;
}
*[rendition~="#red"] *{
	/*rote Einfaerbung fuer Unterlemente*/
	color:#F60535;
}
*[rendition~="#right"]{
	/*Rechtsbuendigkeit*/
	display:block; 
	text-align:right;
}
*[rendition~="#sub"]{
	/*Tiefstellung*/
	vertical-align:sub; 
	font-size:.8em;
}
*[rendition~="#sup"]{
	/*Hochstellung*/
	vertical-align:super; 
	font-size:.8em;
}
*[rendition~="#u"]{
	/*gedruckte Unterstreichung*/
	text-decoration:underline;
}
*[rendition~="#uu"]{
	/*doppelte Unterstreichung*/
	text-decoration:underline;
}
*[rendition~="#s"]{
	/*doppelte Unterstreichung*/
	text-decoration:line-through;
}


/*  level 0 (minimum level)    */

TEI {
}

/*TODO: correct? (added from tei_oxygen)*/
TEI, TEI\.2 {
    display:block;
}

/*  level 1     - Elements, that have to be considered to fullfill the DTA ›base format‹. These elements are used consequently in the DTA core corpus.    */

actor  {
}
back  {
}
body  {
}
castGroup  {
}
castItem  {
}
cb  {
    text-align:center;
    font-size:.9em;
	display:block;
	border:none;
	border-top:5px dotted #FFFFEE;
	height:10px;
}
cb:after {
	content:'Spaltenumbruch';
	color:silver;
}
cb[n]:after {
	content:'Spalte 'attr(n);
	color:silver;
}
cb[type="start"]:after{
	content:'Spalte 'attr(n)' (Beginn des Spaltensatzes)\A';
	color:silver;
}
cb[type="end"]:after{
	content:'Spalte 'attr(n)' (Ende des Spaltensatzes)\A';
	color:silver;
}
cell  {
}
castList {
}
div {
}

/*TODO: correct? (added from tei_oxygen)*/
div,
body > div,
body > div > div,
body > div > div > div,
body > div > div > div > div{
    margin-bottom:0.2em;
}


figure {	
	display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
}
figure:after {
	content:"[Illustration]";
}
figure[type="notatedMusic"] {
    display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
}
figure[type="notatedMusic"]:after {
	content:"[Musik]";
}

formula  {
    display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
}
formula:after {
	content:"[Formel]";
}
front  {
}
gap:after {
    content:"[Auslassung]";
}
div > head,
body > div > head,
body > div > div > head,
body > div > div > div > head,
body > div > div > div > div > head {
	/*TODO: correct? (added from tei_oxygen)*/
    padding-top:0.6em;
    padding-bottom:0.2em;
    padding-left:0.2em;
    padding-right:0em;
    background-color:inherit;
	
	/* (added from tei_oxygen)
    color:#004477;
    border-bottom:1px solid #004477;
	*/
    color:black;
    border-bottom:none;
    font-size:large;
    display:block;
    text-align:center;
}

head:before{
	content:"" !important;
	/*TODO: correct? (added from tei_oxygen)*/
	display:block;
}

head {
}
item  {
	display:inline;
}

l {
	display:inline;
}
head + lb  {
	display:inline;
    font-family:'Arial Unicode MS', 'DejaVu', serif;
    content:'↲';
    font-size:large;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
lb  {
	display:block;
    font-family:'Arial Unicode MS', 'DejaVu', serif;
    content:'↲';
}
lb:after {
	content:"\a ";
}
lg {
}
list  {
    display:inline;
}
note {
	display:inline;
}

p + * + p, p + p {
    text-indent:15px;
}
p {
	display:block;
    /*margin-top:10px;*/
}
pb {
	text-align:center;
	display:block;
	border:none;
	border-top:1px solid #eee;
	height:10px;
	font-size:.9em;
    margin:10px;
}
pb[facs]:after {
	content:'['attr(facs)']\A';
	color:silver;
	font-weight:normal;
}
pb[n]:after {
	content:'Seite 'attr(n)' ('attr(facs)')\A';
	color:silver;
	font-weight:normal;
}
row  {
}
sp  {
}
speaker  {
}
stage {
}
supplied {
}

/*TODO: correct? (added from tei_oxygen)*/
table {
  border: 1px solid #EEEFEE;
}
/*table  {
}*/

/*TODO: correct? (added from tei_oxygen)*/
graphic{
    content: attr(url, url);
    width:attr(width, length);
    height:attr(height, length);
}

text  {
    max-width:800px;
    margin-left:30px;
    line-height:150%;
	/*TODO: correct? (added from tei_oxygen)*/
	display: block;
}


titlePage {
}
titlePart {
}


/*  level 2     - Elements, which are recommended by the DTA ›base format‹, but may be left out in text annotation. These elements are used in all texts of the DTA core corpus.    */

argument  {
}
argument > bibl, body > bibl, cit > bibl, div > bibl, div0 > bibl, div1 > bibl, div2 > bibl, div3 > bibl, div4 > bibl, div5 > bibl, div6 > bibl, div7 > bibl, epigraph > bibl, listBibl > bibl > bibl, taxonomy > bibl {
    display:inline;
}
bibl  {
	content:"";
    display:inline;
}
byline  {
}
cit {
}
closer {
}
dateline {
}
docAuthor  {
}
docDate {
}
docEdition {
}
docImprint {
}
docTitle  {
}
epigraph {
}
floatingText  {
}
fw  {
}
hi  {
    background:#fff;
}

/*TODO: correct? (added from tei_oxygen)*/
hi[rend="sc"] {
  display: inline;
  text-decoration:overline;
}

imprimatur  {
}
lb {
}
milestone[rendition="#hrRed"] {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
	content:"- - - - - - - - - - - - - - - - -";
	color:#F60535;
}
milestone[rendition="#hrBlue"] {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
	content:"- - - - - - - - - - - - - - - - -";
	color:blue;
}
milestone  {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
	content:"- - - - - - - - - - - - - - - - -";
}
opener {
}
postscript {
}
publisher {
}
pubPlace {
}
quote {
    display:inline;
}

/* tei_oxygen:
quote {
  display: block;
  margin-left: 1em;
}
*/

role 	{
}
roleDesc  {
}
salute {
}
signed {
}
space  {
}
trailer {
}

/*  level 3     - Elements, which are part of the DTA ›base format‹, but are not used consequently throughout the DTA core corpus. The usage of these elements is optional.    */


choice {
    background-color:#F8F1FB !important;
}
abbr {
    background-color:#F8F1FB !important;
}
expan {
    background-color:#F8F1FB !important;
    color:black;
    font-style:italic;
}
sic {
    background-color:#F8F1FB !important;
    /*color:#DC8A57;*/
}

sic:after {
   content:"(sic!)";
   font-style:italic;
}
corr  {
    background-color:#F8F1FB !important;
    color:green;
    font-style:italic;
}
orig  {
    background-color:#F8F1FB !important;
}
reg {
    background-color:#F8F1FB !important;
}
date {
}
foreign {
}
listBibl {
}
name  {
}
orgName {
}
persName  {
}
placeName {
}
ref  {
}
teiHeader p{
}
teiHeader publicationStmt{
}
teiHeader sourceDesc{
}
teiHeader fileDesc{
}
teiHeader{
}
teiHeader titleStmt{
	/*TODO: correct? (added from tei_oxygen)*/
	display:block;
}
teiHeader title{
}

/* Other Visualisations*/

/*  special character displaying	 */


